body {
    height: 100%;
    width: 100%;
}

.hero.is-fullheight .hero-body, .hero.is-fullheight-with-navbar .hero-body, .hero-is-halfheight .hero-body {
    align-items: center;
    display: flex;
}

.hero-body {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
}

*, ::after, ::before {
    box-sizing: inherit;
}

#resultsField li {
    background: darkslategray;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    flex: 1 0 200px;
    height: auto;
}

#resultsField li::before {
    content:'';
    display:inline-block;
    vertical-align:middle;
}

.fav-button[data-favorited="false"] {
    display: none;
    background-color: white;
    color: tomato;
}

.fav-button[data-favorited="true"] {
    display: none;
    background-color: tomato;
    color: white;
}

.fav-button[data-favorited="false"]:hover {
    cursor: pointer;
}

#resultsField li:hover .fav-button {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .fav-button, #resultsField li:hover .fav-button {
        display: block;
    }
}